.about-me-container {
    display: flex;
    font-family: 'Libre Baskerville', serif;
    margin: 40px;
}

.bio-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    margin: auto;
    width: 70%;
}

.language-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #F7F6FC;
    padding-top: 20px;
}

.language-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    margin: auto;
    width: 70%; 
    padding-top: 20px;
}

.certifications-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #F7F6FC;
    padding-top: 20px;
}

.certification-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    margin:auto;
    width: 70%;
    padding-top: 20px;
    padding-top: 20px;
}

.resume-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    text-decoration: none;
    margin: auto;
    padding-top: 20px;
    width: 70%;
}

.left {
    flex: 2; 
    /* padding: 20px;  */
    box-sizing: border-box; 
}

.right {
    flex: 1; 
    /* padding: 20px;  */
    box-sizing: border-box; 
}
