.about-me-container {
    display: flex;
    font-family: 'Libre Baskerville', serif;
    margin: 40px;
}

.bio-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    margin: auto;
    width: 70%;
}

.language-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #F7F6FC;
    padding-top: 20px;
}

.language-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    margin: auto;
    width: 70%; 
    padding-top: 20px;
}

.certifications-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #F7F6FC;
    padding-top: 20px;
}

.certification-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    margin:auto;
    width: 70%;
    padding-top: 20px;
    padding-top: 20px;
}

.resume-container {
    font-style: normal;
    font-size: 16px;
    color: #F7F6FC;
    text-decoration: none;
    margin: auto;
    padding-top: 40px;
    width: 70%;
}

.left {
    flex: 2; 
    box-sizing: border-box; 
}

.right {
    flex: 1; 
    box-sizing: border-box; 
}


@media screen and (max-width: 768px) {
    .about-me-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .left {
        margin-bottom: -20px;
    }

    .right {
        padding: 50px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 640px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-left {
        margin-bottom: -20px;
    }

    .intro-right {
        padding: 50px;
    }
}

@media screen and (max-width: 440px) {
    .intro-container {
        flex-direction: column;
    }

    .bio-container {
        width: 100%;
    }

    .language-container {
        width: 100%; 
    }
    
    .certification-container {
        width: 100%; 
    }
    
    .resume-container {
        width: 100%; 
    }
}