.button:hover {
    transition: all 0.3s ease 0s;
    background: rgba(119, 85, 172, 0.75);
    opacity: 1;
    transition: background-color .3s ease-in-out;
  }
  
  .button {
    background-color: transparent;
    border: 1px solid #7159A7;
    color: #fff;
    min-width: 130px;
    font-weight: 600;
    padding: 13px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .none {
    display: none;
  }
  
  .icon {
    margin-right: 0.5rem;
  }
  