.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #BDD9FF;
}

.footer-information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.contact-title {
    margin: 10px;
    padding: 10px;
    background-color: #9AC3FA;
    border: 1px solid #1C378C;
    box-shadow: 0 0 10px rgba(23, 36, 82, 0.5);
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #172452;
}

.contact-information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 20px 0 20px;
}
