/* body {
    margin: 0;
    padding: 0;
} */

.intro-container {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #BDD9FF;
}


.intro-left {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.intro-right {
    flex-basis: 55%;
    padding-right: 100px;
}


.about-me {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #172452;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-left {
        margin-bottom: -20px;
    }

    .intro-right {
        padding: 50px;
    }
}

@media screen and (max-width: 639px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-left {
        margin-bottom: -20px;
    }

    .intro-right {
        padding: 50px;
    }
}