/* body {
    margin: 0;
    padding: 0;
} */

.intro-container {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #BDD9FF;
}


.intro-left {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.intro-right {
    flex-basis: 55%;
    padding: 100px;
}

.about-me {
    padding: 30px;
    background-color: #9AC3FA;
    border: 1px solid #1C378C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(23, 36, 82, 0.5);
}

.name {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #172452;
}