.nav-container {
    margin: 0;
    padding-bottom: 100px;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    background-color: #BDD9FF;
}

.navbar {
    display: flex;
    position: absolute;
    top: 3vh;
    z-index: 999;
}

.nav-background {
    width: 380px;
    height: 40px;
    padding-left: 0%;
    padding-right: 0%;
    background: #DDE9FD;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #1C378C;
    border-radius: 40px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-left: -16px;
    margin-right: 20px;
    margin-top: 11px;
}

.nav-item {
    font-weight: bold;
    font-size: 80%;
}

.nav-item.active a {
    color: #172452;    
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    color: #387df9;
    transition: color 0.1s ease-in-out;
}

@media screen and (max-width: 380px) {
    .nav-background {
        width: 360px;
    }
}