.deployed-application-section {
    display: flex;
    flex-direction: column;
}

.deployed-application-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #F7F6FC;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
    margin-right: 100px;
}

.deployed-application-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}  

.all-deployed-project {
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.all-development-project {
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.in-development-section {
    display: flex;
    flex-direction: column;
}

.in-development-title {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #F7F6FC;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
    margin-right: 100px;
}

.in-development-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}  

@media screen and (max-width: 768px) {
    .deployed-application-section {
        flex-direction: column;
    }

    .deployed-application-title {
        align-items: center;
        text-align: center;
        margin-right: 0;
    }

    .deployed-application-container {
        margin: 10px;
    }

    .in-development-title {
        align-items: center;
        margin-right: 0;
    }

    .in-development-container {
        margin: 10px;
    }

    .all-deployed-project {
        width: 100%;
    }

    .all-development-project {
        width: 100%;
    }
}


@media screen and (max-width: 380px) {
    .deployed-application-section {
        flex-direction: column;
    }

    .deployed-application-title {
        align-items: center;
        margin-right: 0;
    }

    .deployed-application-container {
        margin: 10px;
    }

    .in-development-title {
        align-items: center;
        margin-right: 0;
    }

    .in-development-container {
        margin: 10px;
    }

    .all-deployed-project {
        width: 100%;
    }

    .all-development-project {
        width: 100%;
    }
}
